<%- include('partials/header') -%>
<header>
<h1 class=""><a href="/feed">Favorite Drink & Recipe</a></h1>
</header>

<p>save your favorite drinks and recipes here!</p>

<%for(var i=0; i<recipes.length; i++) {%>
  <h3><%= recipes[i].recipeName %></h3>
  <ul>
  <%for(var j=0; j<recipes[i].ingredients.length; j++) {%>
  <li><%= recipes[i].ingredients[j]%></li>
  <% } %>
  </ul>
  <h3><%= recipes[i].instructions %></h3>
  <% } %>


<div class="col-6 mt-5">
  <a class="btn btn-primary" href="/profile">Return to Profile</a>
  <a class="btn btn-primary" href="/feed">Return to Feed</a>
</div>


<%- include('partials/footer') -%>