<%- include('partials/header') -%>
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="https://kit.fontawesome.com/b341104090.js" crossorigin="anonymous"></script>
</head>

<header>
  <h1>Profile</h1>
  </header>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
      </div>
      <div class="col-6">
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
          <a class="btn btn-primary" href="/recipe">Recipe</a>
          <a class="btn btn-primary" href="/favorite">Favorite</a>
        </div>  
        <section class="tab">
          <ul class="row list-unstyled"> 
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
         <% } %>
         </ul>
        </section>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>

  <!--<ul class="row list-unstyled"> -->